.ipynb_checkpoints/
.venv/
scripts/

# Raw data
data/raw/
# Sampled Datasets
data/samples/
# Project Notes
notes/
*.tmp
.cache.sqlite
.netc
**/__pycache__/

# Data
*.parquet
data/
!data/processed/
!data/predictions/
data/processed/*
data/predictions/*
!data/processed/.gitkeep
!data/predictions/.gitkeep
notebooks/data/

# OS Metadata
*:Zone.Identifier
.DS_Store
